<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="/static/css/main.css" type="text/css" rel="stylesheet">
        <script src="/static/js/main.js" type="module"></script>
        <title> G-Chat </title>
        {{template "head"}}
    </head>

    <body class="h-screen flex flex-col overflow-hidden">
        <header id="nav">{{template "navbar"}}</header>
        <main id="content" class="flex-grow flex flex-col overflow-y-auto">{{template "content" .}}</main>
    </body>
    
</html>

{{ define "navbarstartcontent" }} {{ end }}