<div id="events" hx-swap-oob="beforeend">
    {{block "message" .}} 
        <div class="chat chat-start event" 
             data-username="{{.Username}}" 
             data-encoded-message="{{.EncodedContent}}" 
             data-event-type="message"
             data-type="{{.MessageType}}">
            <div class="chat-header pt-1">
                {{.Gender}} {{.Username}}
                <time class="text-xs opacity-50">{{.Time}}</time>
            </div>
            <div class="chat-bubble {{.ChatBackground}} {{.ChatText}}">
                {{.Content}}
            </div>
        </div>
    {{end}}
</div>