<div id="events" hx-swap-oob="beforeend">
    {{block "message" .}} 
        <div class="chat event 
                    {{ if .FromMe }} chat-end 
                    {{ else }} chat-start
                    {{ end }}" 
             data-username="{{.Username}}" 
             data-encoded-message="{{.EncodedContent}}" 
             data-event-type="message"
             data-type="{{.MessageType}}">
             <div class="chat-image avatar hover:scale-110 duration-100"
                hx-post="/playercard/{{.Username}}"
                hx-trigger="click"
                hx-target="#player-card"
                hx-swap="outerHTML">
                {{ if .AvatarExists }}
                    <img src="/static/images/avatars/{{.Username}}.png">
                {{ else }}
                    <img src="/static/images/baseavatar.png">
                {{ end }}
              </div>
            <div class="chat-header pt-1">
                {{.Gender}} {{.Username}}
                <time class="text-xs opacity-50">{{.Time}}</time>
            </div>
            <div class="chat-bubble {{.ChatBackground}} {{.ChatText}}">
                {{.Content}}
            </div>
        </div>
    {{end}}
</div>