{{ block "playercard" .}}
<div id="player-card" class="flex flex-row w-80 bg-base-300">
    <div class="w-24 flex-none scale-90 hover:scale-100 duration-100">
        {{ if .Figureexists }}
            <img src="/static/images/figures/{{.Username}}.png">
        {{ else }}
            <img src="/static/images/basefigure.png">
        {{ end }}
    </div>
    <div class="text p-3">
        <h2 class="text-lg font-semibold">
            {{ if .Username }}
                {{ .Username }}
            {{ else }}
                No player selected!
            {{ end }}
        </h2>
        {{ if .Motto }} 
            <p>
                {{.Motto}} 
            </p>
        {{ else }} 
            <p></p>
        {{ end }}
    </div>
</div>
{{ end }}